.ball{
    background:linear-gradient(rgb(0, 36, 128),rgb(8, 193, 63));
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 45px auto;
    border: 4px solid black;
    animation-name: bounce;
    animation-iteration-count: infinite;
    animation-duration: 800ms;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    



    }
    @keyframes bounce {
        0%{
            transform: translateY(0px);
        }
        100%{
            transform: translateY(85vh) rotate(360deg);
        
    }
}


